<!-- main screen starts -->
<div class='login-screen' id='main'>
  <div class='container h-100'>
    <div class='row h-100 justify-content-center align-items-center'>
      <form method='POST' action='/auth/login' class='col-md-6 bg text-light form-login' id='login'>
        <div class='form-content-login'>

          <div class='mb-3'>
            <label for='username' class='form-label'>USERNAME</label>
            <input type='username' name='username' class='form-control transparent-input text-light' id='username'
              aria-describedby='username' placeholder='input your username' />
          </div>
          <div class='mb-5'>
            <label for='exampleInputPassword1' class='form-label'>PASSWORD</label>
            <input type='password' name='password' class='form-control transparent-input text-light'
              id='exampleInputPassword1' aria-describedby='passwordHelp' placeholder='input your password' />
          </div>
          <div class="text-center mt-">
            <button type='submit' class='btn btn--custom'>
              LOGIN
            </button>
          </div>
        </div>
    </div>
    </form>
  </div>
</div>
</div>